{{> header}}

<div>

  <h2>FAQ</h1>

  <div>
    <h3>Ordbok</h3>
    <ul>
      <li>
        <p><b>Kurtasje</b>: <br />
          Avgift til handelsplattformen ved kjøp og salg av aksjer. Prosent av handelsbeløpet. <br />
          Vanlige verdier ligger rundt 0.03% - 0.2%.</p>
      </li>
      <li>
        <p><b>Minstekurtasje</b>: <br />
          Minimumsbeløp for kurtasje. Kurtasjen man betaler vil være den høyeste av minstekurtasje og kurtasje. </p>
        <p><b>Eksempel</b>: <br />
          Minstekurtasje = 50 NOK, kurtasje = 0.1%. <br /><br />
          Dersom du handler aksjer for 5 000 NOK gir det kurtasje på <br />
          5000 NOK * 0.1% = 5 NOK <br />
          Da må man betale minstekurtasjen på 50 NOK. <br /><br />
          Om du handler for 60 000 NOK, gir det en kurtasje på <br />
          60000 NOK * 0.1% = 60 NOK <br />
          Siden det er høyere enn minstekurtasjen så må du betale kurtasjen på 60 NOK.
        </p>
      </li>
      <li>
        <p><b>Valutaspread</b>: <br />
          Avgift for veksling annen valuta når du handler aksjer som ikke er notert i NOK, dvs. ved handel på utenlandsk børs. <br />
          Inntreffer både ved kjøp og salg (veksle fra NOK og tilbake til NOK). <br />
          Typiske verdier ligger rundt 0.075% - 0.25%.</p>
      </li>
    </ul>
  </div>

</div>

</div>

{{> footer}}