<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
</head>

<body>

  <div style="padding: 0 1rem 1rem 1rem;">
    <a href="/simple"><h1>Aksjesimulator</h1></a>

    <div style="display: flex; justify-content: space-between">
      <div>
        {{#username}}
        <a class="headerLink" href="/simple/accounts">Kontoer</a>
        <a class="headerLink" href="/simple/stocks">Aksjer</a>
        {{/username}}
      </div>
      <div>
        {{#username}}
        <a class="headerLink" href="/simple/profile">Profil</a>
        <a class="headerLink" href="/simple/logout">Logg ut</a>
        {{/username}}
        {{^username}}
        <a class="headerLink" href="/simple/login">Logg inn</a>
        {{/username}}
        
      </div>
    </div>

  </div>
  <hr />

  <div class="mainContent">