<html>

<head>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

  <div class="m-4">
    <h1>Aksjesimulator</h1>

    <div class="flex space-between">
      <div>
        <a class="ml-1" href="/">Hjem</a>
        <a class="ml-1" href="/accounts">Kontoer</a>
        <a class="ml-1" href="/stocks">Aksjer</a>
      </div>
      <div>
        <a class="ml-1" href="/profile">Profil</a>
        <a class="ml-1" href="/log-in">Logg inn</a> 
        <a class="ml-1" href="/log-out">Logg ut</a>
      </div>
    </div>

  </div>
  <hr />