{{> header}}

<div class="loginBox">
  <form action="/simple/login" method="post" class="">
    <div class="centered">
      <label for="username"><b>Brukernavn</b></label><br />
      <input style="width: 100%;" type="text" name="username" id="username" required>
    </div>
    <div class="centered mt-1">
      <label for="password"><b>Passord</b></label><br />
      <input style="width: 100%;" type="password" name="password" id="password" required>
    </div>
    <div class="mt-1">
      <label for="remember"> Husk meg</label>
      <input type="checkbox" name="remember" id="remember">
    </div>
    <div class="mt-1">
      <input style="width: 100%;" type="submit" value="Logg inn">
    </div>
  </form>

</div>

{{> footer}}